*.c text
*.cpp text
*.h text
*.hpp text
*.hlsl text
*.xml text
*.qrc text
*.css text
*.scss text
*.qss text
*.html text

*.sln text eol=crlf
*.vcxproj text eol=crlf
*.vcxproj.filter text eol=crlf

*.sh text eol=lf
CMakeLists.txt text eol=lf

