<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
         xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
         xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
         xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
         IgnorableNamespaces="uap mp">
  <Identity
    Name="57bcfd1f-31c1-4f8e-bf91-958732a81506"
    Publisher="CN=Stenzek"
    Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="57bcfd1f-31c1-4f8e-bf91-958732a81506" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>DuckStation</DisplayName>
    <PublisherDisplayName>Stenzek</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="DuckStation.App">
      <uap:VisualElements DisplayName="DuckStation" Description="A project for a C++/WinRT Universal Windows Platform (UWP) app directly implementing CoreApplication"
        Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" BackgroundColor="transparent">
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:DefaultTile Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\WideTile.png" Square310x310Logo="Assets\LargeTile.png"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap:FileTypeAssociation Name="duckstation-disc-images">
            <uap:SupportedFileTypes>
              <uap:FileType ContentType="application/x-cue">.cue</uap:FileType>
              <uap:FileType ContentType="application/x-mame-chd">.chd</uap:FileType>
              <uap:FileType ContentType="application/x-ecm">.ecm</uap:FileType>
              <uap:FileType ContentType="application/x-iso9660-image">.iso</uap:FileType>
              <uap:FileType ContentType="application/x-mds">.mds</uap:FileType>
              <uap:FileType ContentType="application/x-psexe">.psexe</uap:FileType>
              <uap:FileType ContentType="application/x-psf">.psf</uap:FileType>
              <uap:FileType ContentType="application/x-psf">.minipsf</uap:FileType>
              <uap:FileType ContentType="audio/x-mpegurl">.m3u</uap:FileType>
              <uap:FileType ContentType="application/x-ps-memory-card">.mcd</uap:FileType>
            </uap:SupportedFileTypes>
            <uap:DisplayName>DuckStation Disc Image</uap:DisplayName>
            <uap:Logo>Assets\duck_128.png</uap:Logo>
          </uap:FileTypeAssociation>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="codeGeneration"/>
    <uap:Capability Name="removableStorage"/>
    <rescap:Capability Name="expandedResources" />
  </Capabilities>
</Package>