[Desktop Entry]
Type=Application
Name=DuckStation SDL
GenericName=PlayStation 1 Emulator
Comment=Fast-ish PlayStation 1 emulator
Icon=duckstation-sdl
TryExec=duckstation-sdl
Exec=duckstation-sdl %f
Terminal=true
Categories=Game;Emulator;
